
<div *ngIf="requestRicorsoTributario">
    <h2><span>Request Ricorso Tributario</span> {{requestRicorsoTributario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Notifica Date</span></dt>
        <dd>
            <span>{{requestRicorsoTributario.notificaDate | date:'medium'}}</span>
        </dd>
        <dt><span ngbTooltip="nome o ragione sociale">Emissione Ruolo Date</span></dt>
        <dd>
            <span>{{requestRicorsoTributario.emissioneRuoloDate | date:'medium'}}</span>
        </dd>
        <dt><span>Tipologia Atto</span></dt>
        <dd>
            <span>{{requestRicorsoTributario.tipologiaAtto}}</span>
        </dd>
        <dt><span>Request</span></dt>
        <dd>
            <div *ngIf="requestRicorsoTributario.request">
                <a [routerLink]="['/request', requestRicorsoTributario.request?.id]">{{requestRicorsoTributario.request?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'request-ricorso-tributario/'+ requestRicorsoTributario.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
